h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500px;
    background-color: black;
    color: white;
    padding: 50px;
}

/* body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: aqua;
} */
.spline-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.spline-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px;
    background-color: black; 
}
.btn-container {
    position: absolute;
    left: 20px;
    color: white;
}
